<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" , initial-scale=1.0>
  <title>Image Uploading</title>
</head>

<body>
  <h1>Uploading Image on mongoDB</h1>
  <hr>
  <div class="">
    <form class="" action="/" method="post" enctype="multipart/form-data">
      <div class="">
        <label for="name">Image Title</label>
        <input type="text" id="name" placeholder="Name" name="name" value="" required>
      </div>

      <div class="">
        <label for="desc">Image Description</label>
        <textarea name="desc" id="desc" rows="2" placeholder="Description" required></textarea>
      </div>

      <div class="">
        <label for="image">Upload Image</label>
        <input type="file" id="image" name="image" value="" required>
      </div>

      <div class="">
        <button type="submit" name="button">Submit</button>
      </div>

    </form>
  </div>

  <hr>

  <h1>Uploaded Images</h1>
  <div class="">
    <% items.forEach(function(image){ %>
    <div class="">
      <div class="">
        <img width="300" height="250" src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString("base64")%>" alt="">
        <div class="">
          <h5><%= image.name%></h5>
          <p><%= image.desc %></p>
        </div>
      </div>
    </div>

    <%})%>
  </div>
</body>

</html>
