body {
  font-family: 'Architects Daughter', cursive;
  background-color: #A2D2FF;
}

h1 {
  color: #FEF9EF;
  font-family: 'Festive', cursive;
  text-align: center;
}

p, h3 {
  color: #A2D2FF;
  margin: 0;
}

p {
  max-width: 10rem;
  display: block;
}

input, textarea, button {
  background-color: #FEF9EF;
  border: 1px solid #A2D2FF;
  border-radius: .2rem;
  border: 1px solid #FF865E;
  padding: 1rem;
  box-shadow: 9px 1px 20px 1px rgba(0, 0, 255, .2);
}

button {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  font-weight: bolder;
  background-color:#FF865E;
  color: #FEF9EF;
  border: 2px solid #FF865E;
  border-radius: 1rem;
  padding: .5rem 1.8rem;
  margin: 2rem 1rem 0;
}

button:hover {
  transition: 1s;
  transform: scaleY(1.1);
}

::placeholder {
    font-family: 'Architects Daughter', cursive;
  color: #A2D2FF;
}

label {
  color: #FEF9EF;
  ;
}

img {
  border: 2px solid #A2D2FF;
  border-radius: .2rem;
  width: 150px;
  height: 150px;
  margin-bottom: .5rem;
}

.outer-submit-section{
  display: flex;
}

.submit-section {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 3rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.title, .description, .upload {
  display: flex;
  flex-direction: column;
  padding: .2rem;
}

.fa-sun-o {
  color: #FEE440;
}

.outer-frame{
  margin-top: 6rem;
  border-top: 1px dotted rgba(254, 228, 64, .9);
}

.outer-frame h1 {
  color: #FEE440;
  font-size: 40px;
}

.frame {
  border-radius: .2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-frame {
  background-color: #FEF9EF;
  padding: 2rem 2rem;
  border-radius: .6rem;
  margin: 1rem;
  box-shadow: 9px 1px 20px 1px rgba(0, 0, 255, .2);

}

.image-frame:hover {
  background-color: rgba(254, 228, 64, .9);
}

.inner-frame {
  display: flex;
  flex-direction: column;
}

.popup {
  visibility: hidden;
  position: relative;
  background-color: rgba(0, 0, 255, .5);
  border-radius: 6px;
  display: inline-block;
  width: 50%;
  min-width: 360px;
  box-shadow: 9px 1px 20px 1px rgba(255, 255, 255, .2);
  position: absolute;
  left: 25%;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.popup .title {
  width: 40%;
  height: 10rem;
  background-color: rgba(254, 228, 64, 1);
  border-radius: 6px 0 0 6px;
  align-content: stretch;
}

.popup h1{
  color: #FFF;
  font-family: 'Architects Daughter', cursive;
}

.link {
  
}

.show {
  visibility: visible;
  animation: fadeIn 1s;
}

@media(max-width: 716px){
  .outer-submit-section{
    justify-content: center;
  }
}

/* Animation */
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}
